body{
    background-color: peachpuff;

}
button{
    display: block;
    width: 70%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: tomato;
    margin-left: 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;

}
.mainTitle{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 4em;
    padding-top: 1em;
    color: tomato;
}
.icon{
    margin-left: 50%;
}
#question{
    padding-top: 2em;
    font-family: 'Montserrat', sans-serif;
}

.nameUser{
    font-weight: bold;
    color:#6F6B6B;
    font-size: 1.5em;
}